/* Space out content a bit */
body {
  /*background: #F0EFE2 none repeat scroll 0% 0%*/
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #99bf62;
  text-transform: uppercase;
  font-weight: bold;
  word-spacing: 10px;
  color: grey;
  letter-spacing: 3px;
  font-size: medium;
  padding: 10px;
}

#main{
 width: 99.7%;
}

#footer
{
  padding: 20px 0 15px 0;
  text-align: center;
  background: url(../images/footer.png) repeat-x;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

.btn-primary {
  background-color: #99bf62;
  border-color: #84a35b;
  color: black;
  font-weight: bold;
}

.btn-primary:hover{
  background-color: #bae877;
  border-color: #99bf62;
  color: black;
}
.btn-primary:focus, .btn-primary:active {
  background-color: #bae877;
  border-color: #99bf62;
  color: black;
}


.form-control:focus {
  border-color: #bae877;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #99bf62;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

#Cevi, #DB, #Export, #Tool {
  color: black;
}

.scrollable tr {
  width: 100%;
  display: inline-table;
}

.scrollable tbody{
  overflow-y: auto;
  height: 300px;
  position: absolute;
  width: 100%;
}

#details, #groups{
  height:300px;
  overflow: auto;
}
#thead .form-group{
  position: relative;
}

#address-list{
  margin-top: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}
#address-list td{
  border-top: 1px solid grey;
  white-space: nowrap;
  padding-left:5px ;
}
#address-list td, th{
  padding:5px ;
}
.table{
  margin: 0;
}/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
    margin: 2px;
  }
}
/* style sheet for "A4" printing */
@media print {
  @page {
    size: A4 landscape;
    margin: 2cm;
  }
  body, h1, h2, h3, ol, ul, div,table {
    width: auto;
    border: 0;
    margin: 1cm;
    padding: 0;
    float: none !important;
    position: static;
    overflow: visible;
    display: inline ; }

  table,tr{
    max-width: 100% !important;
  }
  tr{
    page-break-before:always;
  }

}
