<h1>
    <a ui-sref="pizza.designer.add" class="btn btn-material-purple pull-right">
        <i class="fa fa-plus fa-lg fa-margin-right"></i> <span translate="PIZZA_ADD"></span>
    </a>
    <span translate="DESIGNER_HEADING"></span>
</h1>
<br />

<div class="row">

    <div class="col-xs-12">
        <table st-table="ctrl.pizza" class="table table-striped table-vertical-align-middle">
            <thead>
            <tr>
                <th translate="PIZZA_NAME"></th>
                <th translate="PIZZA_TOPPINGS"></th>
                <th class="text-right" translate="PIZZA_WEIGHT"></th>
                <th class="text-right" translate="PIZZA_PRICE"></th>
                <th class="text-right" translate="COMMON_ACTIONS"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pizza in ctrl.pizzas">
                <td><strong>{{pizza.name}}</strong></td>
                <td>
                    <ul>
                        <li ng-repeat="topping in pizza.toppings">{{topping | translate}}</li>
                    </ul>
                </td>
                <td class="text-right">{{pizza.weight | number}}</td>
                <td class="text-right">{{pizza.price | number:2}} <span translate="COMMON_CURRENCY_SYMBOL"></span></td>
                <td class="text-right">
                    <a ui-sref="pizza.designer.edit({pizzaId: pizza.id})" class="btn btn-material-grey">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button class="btn btn-danger" confirm-action="ctrl.remove(pizza)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>