<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
  <form class="form-horizontal" role="form">

    <p class="col-sm-offset-2 col-sm-10" id="error" ng-bind="errorMsg"></p>

    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Benutzername:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" placeholder="cevi.db benutzername" ng-model="username"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>

      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="cevi.db passwort" ng-model="password"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button class="btn btn-primary" type="submit" ng-click="login()">anmelden</button>
        <a class="btn btn-primary" ng-href="#">zur&uuml;cksetzen</a>
      </div>
    </div>
  </form>
</div>
